*{
    border: 0;
    padding: 0;
    margin: 0;
}

body{
    height: 100vh;
    width: 100vw;
    overflow-y: hidden;
    overflow-x: hidden;
    
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    background-color: white;
}


header{
    background-color: darkblue;
    display: flex;
    flex-direction: row;
}

main {
    padding: 1em;
    height: 70vh;
    text-align: left; 
    border-radius: 12em;
}
  
footer {
    margin-top: 5%;
    background-color: #333; /* Color de fondo oscuro */
    color: white;
    text-align: center;
    padding: 1em;
}


.headerDrop{
    flex: 1;

    display: flex;
    justify-content: center;
    align-items: center;

    border: 1px solid black;
}

.categoriesText
{
    font-size: 2em;
}

.headerTitle{
    flex: 8;

    background-color: darkblue;
    border: 1px solid black;
}

nav{
    height: 5%;
    background-color: white;
    min-height: 2em; 
}

h1{
    text-align: center;
    color: white;
}

nav {
    overflow: hidden;
    background-color: darkblue;
}
  
nav a {
    float: left;
    font-size: 1rem;
    color: black;
    text-align: center;
    padding: 1rem;
    text-decoration: none;
}

.contenido1 {
    padding-right: 5%; 
    background-color: #000;
    height: 100%; 
    box-sizing: border-box; 
    float: left;
    outline: darkblue 0.1em solid;
  }
  
  .contenido2 {
    padding-right: 5%; 
    background-color: #000;
    height: 100%; 
    box-sizing: border-box; 
    float: right;
    outline: darkblue 0.1em solid;
  }
  
.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 1rem;  
    border: none;
    outline: none;
    color: white;
    background-color: inherit;
    padding: 1rem;
}
  
nav a:hover, .dropdown:hover .dropbtn {
    background-color: darkblue;
    color: white;
}
  
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    width: 25%;
    height: 90vh;
    left: 0;
    box-shadow: 0rem 0.5rem 1rem 0rem lightblue;
    z-index: 1;
}
  
.dropdown:hover .dropdown-content {
    display: block;
}
  

.column {
    float: left;
    width: 100%;
    height: 90vh;
    padding: 1rem;
    background-color: rgb(225, 232, 234);
}
  
.column a {
    float: none;
    color: black;
    padding: 1rem;
    text-decoration: none;
    display: block;
    text-align: left;
}
  
.column a:hover {
    background-color: #ddd;
}

.row{
    height: 90vh;
}
  
.row:after {
    content: "";
    display: table;
    clear: both;
}

.headerTitle {
    font-size: 2em;
 
}

.nube{
    background-color: rgb(217, 217, 246);
    border-radius: 12px;
    display: flex;
    justify-content: space-between;
    max-height: auto;
    flex-direction: column;
    padding: 8px;
    width: auto;
}

h2 {
    margin-top: 1em;
    color: #333;
    border-bottom: 2px solid #333333;
    padding-bottom: 0.4em;
    margin-left: 7%;
    margin-right: 7%;
}

.Texto{
    margin-left: 10%;
    margin-right: 10%;
}

#Gos1{
    flex-direction: row;
    height: 23em;
    width: 25em;
    margin-top: 2%;
    margin-left: 10%;
    display: inline;
}
